.DS_Store
.Rhistory
.RData
.R/library/
renv/library/
renv/staging/
output/fits.rds
output/*.log
sources/*.pdf
sources/paper.txt
sources/working-paper-2005.txt
sources/jensen-2007.txt
sources/asher-canals.txt
sources/gine-jacoby-2020.txt
